
@{
    ViewBag.Title = "Data";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Data Report Inclusion Designer</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6" style="margin: 0px;">
                        <h3 style="margin: 0px;">Uncompiled Data Reports</h3>
                    </div>
                    <div class="col-sm-3 pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control"  id="search" placeholder="Work Order">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="search()">Filter</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <div class="clearfix"></div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Work Order</th>
                            <th>Organization Name</th>
                            <th>LT Number</th>
                            <th>Test ID</th>
                            <th>Completion Date</th>
                            <th>Include</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td><a href="#">3464</a></td>
                            <td>PubChem Research</td>
                            <td>014248</td>
                            <td>2169</td>
                            <td>2016-12-02</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr id="2">
                            <td><a href="#">3464</a></td>
                            <td>PubChem Research</td>
                            <td>014248</td>
                            <td>1547</td>
                            <td>2016-12-04</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr id="3">
                            <td><a href="#">3464</a></td>
                            <td>PubChem Research</td>
                            <td>014248</td>
                            <td>3265</td>
                            <td>2016-12-04</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr id="4">
                            <td><a href="#">3468</a></td>
                            <td>Parker Medicine</td>
                            <td>014286</td>
                            <td>3124</td>
                            <td>2016-12-05</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr id="5">
                            <td><a href="#">3468</a></td>
                            <td>Parker Medicine</td>
                            <td>014286</td>
                            <td>4252</td>
                            <td>2016-12-05</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr id="6">
                            <td><a href="#">3470</a></td>
                            <td>Hair Technologies</td>
                            <td>014311</td>
                            <td>4527</td>
                            <td>2016-12-06</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                    </tbody>
                </table>
                <center><a href="#" class="btn btn-primary" onclick="compile()">Compile</a></center>
            </div>
        </div>
    </div>
</div>

<style>
    #imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
</style>

<script>
    function search() {
        document.getElementById("search").value = "3468";
        $("#1").hide();
        $("#2").hide();
        $("#3").hide();
        $("#6").hide();
    }

    function compile() {
        document.getElementById("search").value = "";
        $("#1").show();
        $("#2").show();
        $("#3").show();
        $("#4").hide();
        $("#5").hide();
        $("#6").show();
    }



</script>