@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Northwest Labs Landing Page</h1>
        <p>Client and Staff portals (above) are designed to link to existing landing page, which Northwest labs has recently purchased for advertising purposes. However, Integrated Solutions has developed a landing page prototype (included in the project submission) that could be used as a basis for the re-designing of the existing site.</p>
        <hr />
        <p><strong>Click portal links above to proceed.</strong></p>
    </center>
</div>

<center><img src="~/Content/img/ISI.jpg" style="width:100%;" /></center>