
@{
    ViewBag.Title = "Pending";
}

<center><h2>Pending Invoices</h2></center>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Invoices Pending Approval</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Work Order</th>
                            <th>Organization Name</th>
                            <th>Amount Due</th>
                            <th>Invoice Creation</th>
                            <th>
                                <center>Approve</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">3462</a></td>
                            <td>Pace Medical</td>
                            <td>$1,110.00</td>
                            <td>2016-12-01</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3463</a></td>
                            <td>South East Industries</td>
                            <td>$3,816.00</td>
                            <td>2016-12-01</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3464</a></td>
                            <td>Scientific Researcher</td>
                            <td>$6,774.00</td>
                            <td>2016-12-02</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3466</a></td>
                            <td>Search Light</td>
                            <td>$4,398.00</td>
                            <td>2016-12-04</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3467</a></td>
                            <td>PubChem Research</td>
                            <td>$4,007.00</td>
                            <td>2016-12-04</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3468</a></td>
                            <td>Parker Medicine</td>
                            <td>$1,003.00</td>
                            <td>2016-12-05</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3469</a></td>
                            <td>Inermountain Health Care</td>
                            <td>$6,590.00</td>
                            <td>2016-12-05</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                        <tr>
                            <td><a href="#">3470</a></td>
                            <td>Hair Technologies</td>
                            <td>$4,471.00</td>
                            <td>2016-12-06</td>
                            <td><center><label><input type="checkbox"></label></center></td>
                        </tr>
                    </tbody>
                </table> 
                <center><button class="btn btn-primary">Submit</button></center>
            </div>
        </div>
    </div>
</div>

