@{
    ViewBag.Title = "Testing Index";
}

<div class="content">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <center>
                    <h1>Assay Schedule</h1>
                    <a href="/StaffPortal/Testing/TestSchedule"><i class="fa fa-calendar-minus-o fa-5x icon" aria-hidden="true"></i></a>
                </center>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <center>
                    <h1>Schedule Assay</h1>
                    <a href="/StaffPortal/Testing/Unscheduled"><i class="fa fa-clock-o fa-5x icon" aria-hidden="true"></i></a>
                </center>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <center>
                    <h1>Import Results</h1>
                    <a href="/StaffPortal/Testing/Import"><i class="fa fa-folder-open-o fa-5x icon" aria-hidden="true"></i></a>
                </center>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <center>
                    <h1>Solubilize Compound</h1>
                    <a href="/StaffPortal/Testing/ReadyCompounds"><i class="fa fa-flask fa-5x icon" aria-hidden="true"></i></a>
                </center>
            </div>
        </div>
    </div>
</div>

<style>
    .icon {
        font-size: 10em;
        padding: 50px 0px 30px;
    }

    h1 {
        margin: 30px 50px 20px;
    }

    .content {
        margin: 80px 0px;
    }
</style>