
@{
    ViewBag.Title = "Preview";
}

<center>
    <h2>Assay Test Details</h2>
</center>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 style="margin: 0px;">ImmunoScreen® (IS)</h3>
            </div>
            <div class="panel-body">
                <legend>
                    Needed Tests
                </legend>
                </p><ul>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                </ul>
                <p><br /></p>

                <legend>
                    Length of Test
                </legend>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Quantity Requested:</strong> 1 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Days:</strong> 0 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hours:</strong> 9 </p>
                <p><br /></p>

                <legend>
                    Protocol
                </legend>
                <p>
                </p><ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Sed quis augue ac lorem varius venenatis ut sit amet lacus.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Nullam in tortor ullamcorper orci sollicitudin ornare vel sed nisl.</li>
                    <li>Aliquam rhoncus lectus sed tellus viverra faucibus.</li>
                    <li>Cras tristique risus vel ullamcorper ornare.</li>
                    <li>Vivamus malesuada erat ac ligula iaculis rutrum.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Aenean mattis sem vitae suscipit malesuada.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                    <li>Nam nec odio et velit bibendum ullamcorper non et ipsum.</li>
                    <li>Aenean ac ligula eu nibh viverra convallis sit amet et turpis.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Proin cursus eros ut mauris lobortis, pulvinar accumsan quam condimentum.</li>
                    <li>Sed aliquam lorem at ipsum tristique semper.</li>
                    <li>Quisque sed arcu dapibus, blandit ante fermentum, posuere ante.</li>
                    <li>Praesent eu mauris non purus dignissim ultricies.</li>
                </ol>
                <p><br /></p>

                <legend>
                    Materials
                </legend>
                </p><ul>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                    <li>Nam nec odio et velit bibendum ullamcorper non et ipsum.</li>
                    <li>Aenean ac ligula eu nibh viverra convallis sit amet et turpis.</li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 style="margin: 0px;">Biochemical Pharmacology (BP)</h3>
            </div>
            <div class="panel-body">
                <legend>
                    Needed Tests
                </legend>
                </p><ul>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                </ul>
                <p><br /></p>

                <legend>
                    Length of Test
                </legend>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Quantity Requested:</strong> 2 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Days:</strong> 1 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hours:</strong> 4 </p>
                <p><br /></p>

                <legend>
                    Protocol
                </legend>
                <p>
                </p><ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Sed quis augue ac lorem varius venenatis ut sit amet lacus.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Nullam in tortor ullamcorper orci sollicitudin ornare vel sed nisl.</li>
                    <li>Aliquam rhoncus lectus sed tellus viverra faucibus.</li>
                    <li>Cras tristique risus vel ullamcorper ornare.</li>
                    <li>Vivamus malesuada erat ac ligula iaculis rutrum.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Aenean mattis sem vitae suscipit malesuada.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                    <li>Nam nec odio et velit bibendum ullamcorper non et ipsum.</li>
                    <li>Aenean ac ligula eu nibh viverra convallis sit amet et turpis.</li>
                </ol>
                <p></p>
                <p>
                </p><ol>
                    <li>Proin cursus eros ut mauris lobortis, pulvinar accumsan quam condimentum.</li>
                    <li>Sed aliquam lorem at ipsum tristique semper.</li>
                    <li>Quisque sed arcu dapibus, blandit ante fermentum, posuere ante.</li>
                    <li>Praesent eu mauris non purus dignissim ultricies.</li>
                </ol>
                <p><br /></p>

                <legend>
                    Materials
                </legend>
                </p><ul>
                    <li>Maecenas quis felis maximus, bibendum dolor in, vestibulum dui.</li>
                    <li>Vivamus sed lorem facilisis, imperdiet leo at, sagittis lorem.</li>
                    <li>Mauris auctor libero eget lacus convallis lacinia.</li>
                    <li>Nam nec odio et velit bibendum ullamcorper non et ipsum.</li>
                    <li>Aenean ac ligula eu nibh viverra convallis sit amet et turpis.</li>
                </ul>
                <p><br /></p>
            </div>
        </div>
    </div>
</div>

<center><a href="/StaffPortal/Testing/Schedule" class="btn btn-primary">Schedule</a></center>


